# Ignore a specific folder
/node_modules
/bro-data
/learn
/whatever
/netstat
# Ignore all `.log` files
*.log
.bro.cpp.swp
# Ignore all `.env` files
.env

# Ignore a folder and its contents
dist/

# Ignore all `.cache` folders anywhere in the project
**/.cache/
